@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Public+Sans:wght@300;400;500;600;700;800&display=swap');
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --primary-color: #a0abec;
  --bg-color:#fff;
  --text-color:#666;
  --second-font:'Public Sans', sans-serif;
  --secondary-color: #eee;
  --version-color: #111;
  --border--color:#eee;
  --animation-delay: 75ms;
}
.dark{
  --primary-color:#8b87ff;
  --bg-color:#111;
  --text-color: #fff;
  --secondary-color: #2b2a2a;
  --version-color:#2b2a2a;
  --border--color:#505050;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  margin-bottom: 100px;
}
.container{
  width: 90%;
  padding: 0px 10px;
}
ul{
  list-style: none;
}
img{
  max-width: 100%;
}

/* Site-nav */

.site-nav {
  width: 100px;
  height: 100vh;
  position: fixed;
  right: 0;
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  z-index: 100;
}

.nav__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav__item {
  width: 50px;
  height: 50px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  padding: 11px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__item:hover{
  background-color: var(--primary-color);
}
.nav__link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  color: var(--text-color);
  position: relative;
  z-index: 10;
}

.hover-item{
  position: absolute;
  left: -100px;
  padding: 10px 50px 10px 20px;
  top: -12px;
  border-radius: 30px;
  text-align: center;
  background-color: var(--primary-color);
  z-index: -1;
  opacity: 0;
  color: #fff;
}
.hover-item.portfolio{
  left: -140px;
}
.hover-item.education{
  left: -90px;
}
.hover-item.contact{
  left: -130px;
}
.nav__item:hover .hover-item{
  opacity: 1;
 }
 .nav__item:hover .nav__link{
   color: #fff;
 }
 .nav__item.active{
   background-color: var(--primary-color);
 }
 .nav__item.active .nav__link{
  color: #fff;
 }
/* Version */

.version__btn{
  position: fixed;
  top: 20px;
  right: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--version-color);
  border: none;
  z-index: 200;
}
.version__btn .bx{
  font-size: 28px;
  color: #fff;
}

.bg-content{
  position: fixed;
  height: 200%;
  width: 100%;
  transform: rotate(-15deg);
  left: -83%;
  top: -50%;
  background-color: var(--primary-color);
  z-index: -1;
}


/* About Me */

.about__heading{
  font-size: 70px;
  line-height: .7;
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
  padding: 80px 0px;
  color: var(--text-color);
}
.about__heading span{
  color: var(--primary-color);
}
.info__heading{
  padding-bottom: 22px;
  font-size: 26px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.2;
}
.info__type{
  opacity: 0.8;
  text-transform: capitalize;
  font-size: 15px;;
  font-weight: 500;
  line-height: 1.6;
  margin-right: 10px;
}
.info__output{
  font-weight: 600;
  font-size: 15px;;
  line-height: 1.6;
}
.info__list{
  margin-bottom: 30px;
}
.info__item{
  margin-bottom: 20px;
}
.cv__btn {
  position: relative;
  left: -8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.4;
  border-radius: 35px;
  text-transform: uppercase;
  padding: 16px 70px 16px 35px;
  font-size: 15px;
  font-weight: 600;
  color: var(--text-color);
  background-color: transparent;
  border: 2px solid var(--primary-color);
  overflow: hidden;
  width: 240px;
}
.cv__btn span{
  position: absolute;
  display: flex;
  width: 55px;
  height: 55px;
  background-color: var(--primary-color);
  top: 0;
  right: -1px;
  border-radius: 50%;
  font-size: 26px;
  font-weight: bold;
  color: #fff;
  align-items: center;
  justify-content: center;
}
.cv__btn::after{
  content: '';
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: var(--primary-color);
  border-radius: 35px;
  transition: all .25s ease-in-out;
  z-index: -1;
}
.cv__btn:hover::after{
  width: 100%;
}
.cv__btn:hover{
  color: #fff;
}

/* Experience & Education */


.experience {
  padding: 50px 0px;
}
.experience__heading {
  font-size: 26px;
  margin-bottom: 50px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.2;
  font-family: var(--second-font);
}
.experience__item {
  margin-bottom: 50px;
}
.experience__img{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.experience__img span{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 20px;
}
.line {
  height: 70px;
  width: 1px;
  background-color: var(--border--color);
}
.experience__desc {
  padding: 0px 20px;
}
.experience__time {
  background-color: var(--border--color);
  font-size: 12px;
  padding: 4px 10px;
  display: inline-block;
  margin-bottom: 12px;
  border-radius: 20px;
  font-weight: 600;
  opacity: 0.8;
}
.experience__title {
  font-size: 18px;
  margin: 7px 0 10px;
  font-family: var(--second-font);
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.2;
}
.experience__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.6;
}
.education__item {
  margin-bottom: 50px;
}
.education__img span{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 20px;
}
.education__img{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.education__desc {
  font-weight: 500;
  line-height: 1.6;
}
.education__time {
  background-color: var(--border--color);
  font-size: 12px;
  padding: 4px 10px;
  display: inline-block;
  margin-bottom: 12px;
  border-radius: 20px;
  font-weight: 600;
  opacity: 0.8;
}
.education__title {
  font-size: 18px;
  margin: 7px 0 10px;
  font-family: var(--second-font);
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.2;
}
.education__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.6;
}
.courses__item {
  padding: 0px 15px;
  margin-bottom: 30px;
}
.courses__box{
  padding: 20px 30px 25px 40px;
  border-radius: 5px;
  border: 1px solid  var(--secondary-color);
}
.course__mark{
  font-size: 40px;
  font-weight: 700;
  color: var(--primary-color);
  line-height: 1.2;
  margin-bottom: 10px;
}
.course__mark span{
  position: relative;
  bottom: 10px;
  font-weight: bold;
  font-size: 33px;
  font-weight: 300;
  margin-left: 3px;
}
.course__title{
  font-size: 18px;
  font-weight: 500;
}
.courses__box:hover{
  outline: 4px solid var(--primary-color);
}
@media screen and (max-width:1020px){
  .site-nav {
    width: 100%;
    height: 100px;
    bottom: 0;
    left: 0;
    border: 1px solid var(--border--color);
  }
  .nav__item{
    margin-bottom: 0;
  }
  .nav__list {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .hover-item{
    display: none;
  }
}
@media screen and (max-width:540px){
  .nav__item{
    width: 45px;
    height: 45px;
    padding: 10px;
  }
  .nav__link .bx{
    font-size: 22px;
  }
  .about__heading{
    font-size: 35px;
  }
  .cv__btn{
    width: 220px;
    padding: 16px 60px 16px 25px;
    font-size: 14px;
    margin: 0 auto;
  }
}
