@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Public+Sans:wght@300;400;500;600;700;800&display=swap');
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --primary-color: #818abe;
  --bg-color:#fff;
  --text-color:#666;
  --second-font:'Public Sans', sans-serif;
  --secondary-color: #eee;
  --version-color: #111;
  --border--color:#eee;
  --animation-delay: 75ms;
  --input-color:#fff;
  --input-border:#ddd;
}
.dark{
  --primary-color:#8b87ff;
  --bg-color:#111;
  --text-color: #fff;
  --secondary-color: #2b2a2a;
  --version-color:#2b2a2a;
  --border--color:#505050;
  --input-color:#2b2a2a;
  --input-border:transparent;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}
.container{
  width: 90%;
  padding: 0px 10px;
}
ul{
  list-style: none;
}
img{
  max-width: 100%;
}

/* Site-nav */

.site-nav {
  width: 100px;
  height: 100vh;
  position: fixed;
  right: 0;
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  z-index: 100;
}

.nav__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav__item {
  width: 50px;
  height: 50px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  padding: 11px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__item:hover{
  background-color: var(--primary-color);
}
.nav__link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  color: var(--text-color);
  position: relative;
  z-index: 10;
}

.hover-item{
  position: absolute;
  left: -100px;
  padding: 10px 50px 10px 20px;
  top: -12px;
  border-radius: 30px;
  text-align: center;
  background-color: var(--primary-color);
  z-index: -1;
  opacity: 0;
  color: #fff;
}
.hover-item.portfolio{
  left: -140px;
}
.hover-item.education{
  left: -160px;
}
.hover-item.contact{
  left: -130px;
}
.nav__item:hover .hover-item{
  opacity: 1;
 }
 .nav__item:hover .nav__link{
   color: #fff;
 }
 .nav__item.active{
   background-color: var(--primary-color);
 }
 .nav__item.active .nav__link{
  color: #fff;
 }
/* Version */

.version__btn{
  position: fixed;
  top: 20px;
  right: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--version-color);
  border: none;
  z-index: 200;
}
.version__btn .bx{
  font-size: 28px;
  color: #fff;
}

.bg-content{
  position: fixed;
  height: 200%;
  width: 100%;
  transform: rotate(-15deg);
  left: -83%;
  top: -50%;
  background-color: var(--primary-color);
  z-index: -1;
}

.cotact__heading{
  font-size: 70px;
  line-height: 0.7;
  text-transform: uppercase;
  font-weight: 800;
  padding: 80px 0px;
  text-align: center;
  font-family: var(--second-font);
}
.cotact__heading span{
  color: var(--primary-color);
}
.contact__title{
  padding-bottom: 22px;
  font-size: 26px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.2;
  font-family: var(--second-font);
}
.contact__text{
  margin-bottom: 1.5rem;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.6;
}
.contact__item{
  margin-bottom: 20px;
}
.contact__type{
  text-transform: uppercase;
  opacity: .8;
  font-weight: 400;
  padding-bottom: 0;
  line-height: 25px;
  font-size: 15px;
}
.contact__output{
  font-weight: 600;
  line-height: 25px;
  font-size: 15px;
  text-decoration: none;
  color: var(--text-color);
}
.contact__item .bx{
  font-size: 36px;
  color: var(--primary-color);
  margin-right: 10px;
}
.socials__item{
  background-color: var(--secondary-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}
.socials__link{
  text-decoration: none;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}
.socials__list{
  margin-top: 30px;
}
.socials__item:hover{
  background-color: var(--primary-color);
}
.socials__item:hover .socials__link{
  color: #fff;
}
.contact__input{
  width: 100%;
  height: 48px;
  background-color: var(--input-color);
  border: 1px solid var(--input-border);
  padding: 11px 26px;
  border-radius: 30px;
  outline-color: var(--primary-color);
  
}
.contact__form {
  padding: 0px 50px;
}
.input__box {
  margin-bottom: 30px;
}
.contact__input--subject{
  margin-bottom: 30px;
  height: 48px;
  background-color: var(--input-color);
  border: 1px solid var(--input-border);
  padding: 11px 26px;
  border-radius: 30px;
  outline-color: var(--primary-color);
}
.contact__input--message{
  margin-bottom: 30px;
  height: 48px;
  background-color: var(--input-color);
  border: 1px solid var(--input-border);
  padding: 11px 26px;
  border-radius: 30px;
  outline-color: var(--primary-color);
}
.input__box.col-xs-12{
  padding: 0;
}
.input__box.col-md-6{
  padding: 0;
}
.input__box:first-child.col-md-6{
  padding-right: 10px;
}
.input__box:first-child.col-xs-12{
  padding-right: 10px;
}
.contact__btn {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.4;
  border-radius: 35px;
  text-transform: uppercase;
  padding: 16px 70px 16px 35px;
  font-size: 15px;
  font-weight: 600;
  color: var(--text-color);
  background-color: transparent;
  border: 2px solid var(--primary-color);
  overflow: hidden;
  margin-top: 20px;
}
.contact__btn span{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  background-color: var(--primary-color);
  top: 0;
  right: -1px;
  border-radius: 50%;
  font-size: 28px;
  font-weight: bold;
  color: #fff;
}
.contact__btn::after{
  content: '';
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: var(--primary-color);
  border-radius: 35px;
  transition: all .25s ease-in-out;
  z-index: -1;
}
.contact__btn:hover::after{
  width: 100%;
}
.contact__btn:hover{
  color: #fff;
}

@media screen and (max-width:1020px){
  .site-nav {
    width: 100%;
    height: 100px;
    bottom: 0;
    left: 0;
    border: 1px solid var(--border--color);
  }
  .nav__item{
    margin-bottom: 0;
  }
  .nav__list {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .hover-item{
    display: none;
  }
}
@media screen and (max-width:540px){
  .nav__item{
    width: 45px;
    height: 45px;
    padding: 10px;
  }
  .nav__link .bx{
    font-size: 22px;
  }
}
