@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Public+Sans:wght@300;400;500;600;700;800&family=Ubuntu+Mono:wght@400;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --primary-color: #a0abec;
  --bg-color:#fff;
  --text-color:#666;
  --second-font:'Public Sans', sans-serif;
  --secondary-color: #eee;
  --version-color: #111;
  --border--color:#eee;
  --animation-delay: 75ms;
}
.dark{
  --primary-color:#8b87ff;
  --bg-color:#111;
  --text-color: #fff;
  --secondary-color: #2b2a2a;
  --version-color:#2b2a2a;
  --border--color:#505050;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  margin-bottom: 100px;
}
.container{
  width: 90%;
  padding: 0px 10px;
}
ul{
  list-style: none;
}
img{
  max-width: 100%;
}

/* Site-nav */

.site-nav {
  width: 100px;
  height: 100vh;
  position: fixed;
  right: 0;
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  z-index: 100;
}

.nav__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav__item {
  width: 50px;
  height: 50px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  padding: 11px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__item:hover{
  background-color: var(--primary-color);
}
.nav__link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  color: var(--text-color);
  position: relative;
  z-index: 10;
}

.hover-item{
  position: absolute;
  left: -100px;
  padding: 10px 50px 10px 20px;
  top: -12px;
  border-radius: 30px;
  text-align: center;
  background-color: var(--primary-color);
  z-index: -1;
  opacity: 0;
  color: #fff;
}
.hover-item.portfolio{
  left: -140px;
}
.hover-item.education{
  left: -90px;
}
.hover-item.contact{
  left: -130px;
}
.nav__item:hover .hover-item{
  opacity: 1;
 }
 .nav__item:hover .nav__link{
   color: #fff;
 }
 .nav__item.active{
   background-color: var(--primary-color);
 }
 .nav__item.active .nav__link{
  color: #fff;
 }
/* Version */

.version__btn{
  position: fixed;
  top: 20px;
  right: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--version-color);
  border: none;
  z-index: 200;
}
.version__btn .bx{
  font-size: 28px;
  color: #fff;
}
.portfolio__heading{
  font-size: 70px;
  line-height: .7;
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
  padding: 80px 0px;
  color: var(--text-color);
}
.portfolio__heading span{
  color: var(--primary-color);
}


.wrapper{
  width: 90%;
  margin: 0 auto;
  max-width: 80rem;
}

.cols{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

    
}

.col{
  width: calc(33% - 2rem);
  margin: 1rem;
  margin-bottom: 30px;
  cursor: pointer;
}

.container{
transform-style: preserve-3d;
perspective: 1000px;

}

.front,
.back{
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
  border-radius: 10px;
	background-position: center;
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	backface-visibility: hidden;
	text-align: center;
	min-height: 280px;
	height: auto;
	border-radius: 10px;
	color: #fff;
	font-size: 1.5rem;
}

.back{
  background: var(--primary-color);
  
}

.front:after{
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .1;
    background-color: var(--bg-color);
    backface-visibility: hidden;
    border-radius: 10px;
}
.container:hover .front,
.container:hover .back{
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  
}
.project__title{
  margin-bottom: 26px;
}
.porfolio__link{
  display: inline-block;
  text-decoration: none;
  background-color: #fff;
  color: #2b2a2a;
  font-size: 20px;
  padding: 8px 10px;
  border-radius: 20px;
  transition: all 0.8s ease;
  font-family: var(--second-font);
}

.porfolio__link:hover{
  transform: translate(0,-10px);
 opacity: 0.9;
}
.inner{
    transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    outline: 1px solid transparent;
    perspective: inherit;
    z-index: 2;
    font-family: 'Ubuntu Mono', monospace;
}

.container .back{
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}

.container .front{

  transform: rotateY(0deg);
  transform-style: preserve-3d;
}

.container:hover .back{
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}

.container:hover .front{
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
}




@media screen and (max-width:1020px){
  .site-nav {
    width: 100%;
    height: 100px;
    bottom: 0;
    left: 0;
    border: 1px solid var(--border--color);
  }
  .nav__item{
    margin-bottom: 0;
  }
  .nav__list {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .hover-item{
    display: none;
  }
  .col{
    width: calc(33.333333% - 2rem);
  }
}
@media screen and (max-width:768px){
  .col{
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width:540px){
  .nav__item{
    width: 45px;
    height: 45px;
    padding: 10px;
  }
  .nav__link .bx{
    font-size: 22px;
  }
  .col{
    width: 100%;
    margin: 0 0 2rem 0;
  }
  .portfolio__heading{
    font-size: 35px;
  }
}
