@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Public+Sans:wght@300;400;500;600;700;800&display=swap');
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --primary-color: #818abe;
  --bg-color:#fff;
  --text-color:#666;
  --second-font:'Public Sans', sans-serif;
  --secondary-color: #eee;
  --version-color: #111;
  --border--color:#eee;
  --animation-delay: 75ms;
}
.dark{
  --primary-color:#8b87ff;
  --bg-color:#111;
  --text-color: #fff;
  --secondary-color: #2b2a2a;
  --version-color:#2b2a2a;
  --border--color:#505050;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}
.container{
  width: 100%;
  padding: 0px 10px;
}
ul{
  list-style: none;
}
img{
  max-width: 100%;
}

/* Site-nav */

.site-nav {
  width: 100px;
  height: 100vh;
  position: fixed;
  right: 0;
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  z-index: 100;
}

.nav__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav__item {
  width: 50px;
  height: 50px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  padding: 12px;
  margin-bottom: 20px;
}
.nav__item:hover{
  background-color: var(--primary-color);
}
.nav__link {
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
  color: var(--text-color);
  position: relative;
  z-index: 10;
}

.hover-item{
  position: absolute;
  left: -100px;
  padding: 10px 50px 10px 20px;
  top: -12px;
  border-radius: 30px;
  text-align: center;
  background-color: var(--primary-color);
  z-index: -1;
  opacity: 0;
  color: #fff;
}
.hover-item.portfolio{
  left: -140px;
}
.hover-item.education{
  left: -160px;
}
.hover-item.contact{
  left: -130px;
}
.nav__item:hover .hover-item{
  opacity: 1;
 }
 .nav__item:hover .nav__link{
   color: #fff;
 }
 .nav__item.active{
   background-color: var(--primary-color);
 }
 .nav__item.active .nav__link{
  color: #fff;
 }
/* Version */

.version__btn{
  position: fixed;
  top: 20px;
  right: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--version-color);
  border: none;
  z-index: 200;
}
.version__btn .bx{
  font-size: 28px;
  color: #fff;
}

.bg-content{
  position: fixed;
  height: 200%;
  width: 100%;
  transform: rotate(-15deg);
  left: -83%;
  top: -50%;
  background-color: var(--primary-color);
  z-index: -1;
}

/* Hero */

.hero {
  width: 100vw;
  height: 100vh;
  padding: 50px 0px;
}
.hero__inner{
padding-top: 70px;
}
.hero__desc {
  padding:0px 200px 0px 100px;
}
.hero__img{
  padding: 0px 30px 0px 100px;
  overflow: hidden;
}
.hero__img img{
  border-radius: 30px;
  box-shadow: 0 0 7px rgb(0 0 0 / 90%);
}
.hero__heading{
  font-size: 51px;
  line-height: 62px;
  font-weight: 700;
  margin: 18px 0 10px;
  font-family: var(--second-font);
  color: var(--primary-color);
  margin-bottom: 15px;
}


.hero__text {
  margin: 15px 0 28px;
  font-size: 16px;
  line-height: 35px;
}
.hero__btn {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.4;
  border-radius: 35px;
  text-transform: uppercase;
  padding: 16px 70px 16px 35px;
  font-size: 15px;
  font-weight: 600;
  color: var(--text-color);
  background-color: transparent;
  border: 2px solid var(--primary-color);
  overflow: hidden;
}
.hero__btn span{
  position: absolute;
  display: inline-block;
  width: 55px;
  height: 55px;
  background-color: var(--primary-color);
  top: 0;
  right: -1px;
  border-radius: 50%;
  font-size: 36px;
  font-weight: bold;
  color: #fff;
  padding: 5px;
}
.hero__btn::after{
  content: '';
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: var(--primary-color);
  border-radius: 35px;
  transition: all .25s ease-in-out;
  z-index: -1;
}
.hero__btn:hover::after{
  width: 100%;
}
.hero__btn:hover{
  color: #fff;
}
/* Developer */

.hero__par {
  color: var(--text-color);
  font-family: tahoma;
  font-size: 2rem;
  font-weight: 100;
  line-height: 1.4;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 550px;
}

.hero__par span {
  font-size: 30px;
  margin-left: 10px;
}

.message {
  background-color: var(--primary-color);
  color: #fff;
  display: block;
  font-weight: 900;
  overflow: hidden;
  position: absolute;
  top: 0.2rem;
  left: 100px;
  animation: openclose 5s ease-in-out infinite;
}


@keyframes openclose {
  0% {
    top: 0.2rem;
    width: 0;
  }
  5% {
    width: 0;
  }
  15% {
    width: 230px;
  }
  30% {
    top: 0.2rem;
    width: 230px;
  }
  33% {
    top: 0.2rem;
    width: 0;
  }
  35% {
    top: 0.2rem;
    width: 0;
  }
  38% {
    top: -2.7rem;
    
  }
  48% {
    top: -2.7rem;
    width: 190px;
  }
  62% {
    top: -2.7rem;
    width: 190px;
  }
  66% {
    top: -2.7rem;
    width: 0;
    text-indent: 0;
  }
  71% {
    top: -5.6rem;
    width: 0;
    text-indent: 5px;
  }
  85.6% {
    top: -5.6rem;
    width: 285px;
  }
  95% {
    top: -5.6rem;
    width: 285px;
  }
  98% {
    top: -5.6rem;
    width: 0;
    text-indent: 5px;
  }
  100% {
    top: 0;
    width: 0;
    text-indent: 0;
  }
}
@media screen and (max-width:1020px) {
  .hero {
    width: 100vw;
    height: 100vh;
    padding: 50px 0px;
    overflow-y: scroll;
  }
  .hero__desc{
    padding: 20px 30px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .hero__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bg-content{
    display: none;
  }
  .site-nav {
    width: 100%;
    height: 100px;
    bottom: 0;
    left: 0;
    border: 1px solid var(--border--color);
  }
  .nav__item{
    margin-bottom: 0;
  }
  .hero__btn{
    width: 229px;
    margin: 0 auto;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.4;
    padding: 16px 40px 16px 15px;
  }
  .hero__img{
    padding: 0px;
  }
  .hero__img img{
    width: 230px;
    height: 230px;
    object-fit: cover;
    border-radius: 50%;
  }

  .nav__list {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .hover-item{
    display: none;
  }
    /* Developer */

.hero__par {
  color: var(--text-color);
  font-family: tahoma;
  font-size: 2rem;
  font-weight: 100;
  line-height: 1.4;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 550px;
  right: 100px
}

.hero__par span {
  font-size: 20px;
  margin-left: 10px;
}

.message {
  background-color: var(--primary-color);
  color: #fff;
  display: block;
  font-weight: 900;
  overflow: hidden;
  position: absolute;
  top: 0.2rem;
  left: 330px;
  animation: openclose 5s ease-in-out infinite;
}
@keyframes openclose {
  0% {
    top: 0.2rem;
    width: 0;
  }
  5% {
    width: 0;
  }
  15% {
    width: 190px;
  }
  30% {
    top: 0.2rem;
    width: 190px;
  }
  33% {
    top: 0.2rem;
    width: 0;
  }
  35% {
    top: 0.2rem;
    width: 0;
  }
  38% {
    top: -2.7rem;
    
  }
  48% {
    top: -2.7rem;
    width: 180px;
  }
  62% {
    top: -2.7rem;
    width: 180px;
  }
  66% {
    top: -2.7rem;
    width: 0;
    text-indent: 0;
  }
  71% {
    top: -5.6rem;
    width: 0;
    text-indent: 5px;
  }
  85.6% {
    top: -5.6rem;
    width: 230px;
  }
  95% {
    top: -5.6rem;
    width: 230px;
  }
  98% {
    top: -5.6rem;
    width: 0;
    text-indent: 5px;
  }
  100% {
    top: 0;
    width: 0;
    text-indent: 0;
  }
}
}
@media screen and (max-width:	540px) {
  .hero__desc{
    padding: 20px 30px;
    align-items: center;
    text-align: center;
  }
  .hero__btn{
    width: 229px;
    margin: 0 auto;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 100px;
  }
  .hero__heading{
    font-size: 29px;
    line-height: 39px;
    margin: 18px 0 13px;
  }
  .hero__text{
    font-size: 14px;
    line-height: 28px;
  }
  .nav__item{
    width: 45px;
    height: 45px;
    padding: 8px;
  }
  .nav__link .bx{
    font-size: 22px;
  }

  /* Developer */

.hero__par {
  color: var(--text-color);
  font-family: tahoma;
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.4;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 550px;
  right: 100px
}

.hero__par span {
  font-size: 20px;
  margin-left: 10px;
}

.message {
  background-color: var(--primary-color);
  color: #fff;
  display: block;
  font-weight: 900;
  overflow: hidden;
  position: absolute;
  top: 0.2rem;
  left: 330px;
  animation: openclose 5s ease-in-out infinite;
}


@keyframes openclose {
  0% {
    top: 0.2rem;
    width: 0;
  }
  5% {
    width: 0;
  }
  15% {
    width: 190px;
  }
  30% {
    top: 0.2rem;
    width: 190px;
  }
  33% {
    top: 0.2rem;
    width: 0;
  }
  35% {
    top: 0.2rem;
    width: 0;
  }
  38% {
    top: -2.7rem;
    
  }
  48% {
    top: -2.7rem;
    width: 170px;
  }
  62% {
    top: -2.7rem;
    width: 170px;
  }
  66% {
    top: -2.7rem;
    width: 0;
    text-indent: 0;
  }
  71% {
    top: -5.6rem;
    width: 0;
    text-indent: 5px;
  }
  85.6% {
    top: -5.6rem;
    width: 210px;
  }
  95% {
    top: -5.6rem;
    width: 210px;
  }
  98% {
    top: -5.6rem;
    width: 0;
    text-indent: 5px;
  }
  100% {
    top: 0;
    width: 0;
    text-indent: 0;
  }
}
}
span {
  opacity: 0;
  animation-name: typewriter;
  animation-fill-mode: forwards;
  animation-duration: 0s;
  animation-delay: calc(var(--animation-order) * var(--animation-delay));
  
}

@keyframes typewriter {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

